html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    color: $grayishBlue;
    line-height: 1.3;
    overflow-x: hidden;

    &.noscroll {
        overflow: hidden;
    }
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 300;
    font-size: 3.7rem;

    line-height: 1.2;
    color: $darkBlue;

    margin-bottom: 2.4rem;
    @include breakpoint-up(large) {
        font-size: $font-xlg;
    }
}

h2 {
    line-height: 1.2;
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 2.5rem;
    color: $darkBlue;
    text-align: center;

    @include breakpoint-up(large) {
        margin-bottom: 3.6rem;
        font-size: 3.6rem;
        text-align: start;
    }
}

p {
    line-height: 1.5;
    margin-bottom: 3rem;
}

// Link Styles
a,
a:visited,
a:hover {
    text-decoration: none;
    font-weight: 400;
}

// Button Styles
.button {
    display: inline-block;
    padding: 1.4rem 3.5rem;
    background: linear-gradient(to right, $limeGreen, $brightCyan);
    border-radius: 50px;
    border: 0;
    color: $white;
    font-size: $font-sm;
    color: $white;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 0.75;
    }
}

// Visibility
.hide-for-mobile {
    //hide for tablet and mobile versions
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    //hide for desktop version
    @include breakpoint-up(large) {
        display: none;
    }
}
// Flexbox Styles

.flex {
    display: flex;

    &-dir-col {
        flex-direction: column;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

// Grid Styles

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $gap-lg;

    @include breakpoint-up(medium) {
        &-res--cols {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @include breakpoint-up(large) {
        &-res--cols {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

.container {
    max-width: 113rem;
    margin: 0 auto;

    &--pall {
        padding-bottom: 3.6rem;
        padding-top: 3.6rem;
        padding-left: 2.4rem;
        padding-right: 2.4rem;

        @include breakpoint-up(large) {
            padding: 6rem;
        }
    }

    &--px {
        padding: 0 2.4rem;
    }

    &--py {
        padding: 3.6rem 0;

        @include breakpoint-up(large) {
            padding: 6rem 0;
        }
    }

    &--pt {
        padding-top: 3.6rem;

        @include breakpoint-up(large) {
            padding-top: 6rem;
        }
    }
    &--pb {
        padding-bottom: 3.6rem;

        @include breakpoint-up(large) {
            padding-bottom: 6rem;
        }
    }

    &--pl {
        padding-top: 2.4rem;
    }

    &--pr {
        padding-top: 2.4rem;
    }
}

.margin-top-60 {
    margin-top: 6rem;
}

.padding-top-60 {
}
