// Colors

// Primary Colors

$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);

// Neutral Colors

$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$lightGray: hsl(0, 0%, 98%);
$white: #fff;

// Font Sizez
$font-sm: 1.4rem;
$font-med: 1.8rem;
$font-lg: 2rem;
$font-xlg: 5.2rem;

// gridGap

$gap-sm: 1.4rem;
$gap-md: 2.2rem;
$gap-lg: 3rem;
